body {
    background-color: #836EF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 5cm; /* Adjust to be 5cm tall */
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust the size as needed */
}

#mouch-image {
    width: auto;
    height: 24px; /* Adjust the height for better visibility */
    margin-left: 8px; /* Space between text and image */
}

model-viewer {
    width: 100%;
    height: 70%; /* Adjust the height to fit within the 5cm container */
    max-width: 50%;
}
